{:min-bb-version "1.0.167"
 :deps {local/deps {:local/root "."}}
 :paths ["bb" "src"]
 :pods {org.babashka/filewatcher {:version "0.0.1"}}
 :tasks
 {test:bb {:extra-paths ["test"]
           :extra-deps {io.github.cognitect-labs/test-runner
                        {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
           :task (exec 'cognitect.test-runner.api/test)
           :exec-args {:dirs ["test"]}
           :org.babashka/cli {:coerce {:dirs []
                                       :nses [:symbol]
                                       :patterns []
                                       :vars [:symbol]
                                       :includes [:keyword]
                                       :excludes [:keyword]
                                       :only [:symbols]}}}
  ; bb/watch_test.clj
  test:bb:watch {:task watch-test/-main}}}
